models/
deepsort_models/
__pycache__/
configs/__pycache__/
tracker/__pycache__/
PROJECT_Text_Detection_Model_SOFTWARE_AI/__pycache__/
PROJECT_Text_Detection_Model_SOFTWARE_AI/models/__pycache__/
PROJECT_Plate_Detection_Model_SOFTWARE_AI/__pycache__/
PROJECT_Plate_Detection_Model_SOFTWARE_AI/models/__pycache__/
PROJECT_Optical_Character_Recognition_Model_SOFTWARE_AI/__pycache__/
PROJECT_Optical_Character_Recognition_Model_SOFTWARE_AI/models/__pycache__/
PROJECT_Optical_Character_Recognition_Model_SOFTWARE_AI/configs/__pycache__/
scrypts/__pycache__/
logs/__pycache__/
PROJECT_Car_Detection_Model_SOFTWARE_AI/__pycache__/
PROJECT_Car_Detection_Model_SOFTWARE_AI/models/__pycache__/
.idea/
output.csv
spot_config.json