[submodule "PROJECT_Optical_Character_Recognition_Model_SOFTWARE_AI"]
	path = PROJECT_Optical_Character_Recognition_Model_SOFTWARE_AI
	url = https://github.com/Locator-CJSC/PROJECT_Optical_Character_Recognition_Model_SOFTWARE_AI.git
[submodule "PROJECT_Plate_Detection_Model_SOFTWARE_AI"]
	path = PROJECT_Plate_Detection_Model_SOFTWARE_AI
	url = https://github.com/Locator-CJSC/PROJECT_Plate_Detection_Model_SOFTWARE_AI.git
[submodule "PROJECT_Car_Detection_Model_SOFTWARE_AI"]
	path = PROJECT_Car_Detection_Model_SOFTWARE_AI
	url = https://github.com/Locator-CJSC/PROJECT_Car_Detection_Model_SOFTWARE_AI.git
[submodule "PROJECT_Text_Detection_Model_SOFTWARE_AI"]
	path = PROJECT_Text_Detection_Model_SOFTWARE_AI
	url = https://github.com/Locator-CJSC/PROJECT_Text_Detection_Model_SOFTWARE_AI.git
